.listFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-200);
  padding: var(--spacing-300);
  background-color: hsl(var(--todo-bg-color));

  font-size: 0.875rem;
  color: hsl(var(--footer-text-color));
  cursor: default;
}

.clearButton {
  cursor: pointer;
}

.clearButton:hover {
  color: hsl(var(--footer-text-hover-color))
}

.clearButton:active {
  color: hsl(var(--footer-text-active-color))
}

@media (max-width: 767px) {
  .listFooter {
    padding: var(--spacing-200);
    font-size: 0.75rem;
  }
}