.newTodo {
  display: flex;
  align-items: stretch;
  gap: var(--spacing-200);
  padding: var(--spacing-200);
  cursor: text;
  background-color: hsl(var(--todo-bg-color));
  border-radius: var(--std-border-radius);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.newTodo > label {
  cursor: inherit;
}

.newTodoInput {
  border: none;
  outline: none;
  padding: 0.1rem 0 0 0;
  flex-grow: 1;
  background-color: transparent;

  color: hsl(var(--text-color));
  caret-color: hsl(var(--clr-blue-500));

  font-family: inherit; /* Default */
  font-weight: inherit;
  letter-spacing: inherit;
  font-size: 0.75rem;
  line-height: 1;
}