ul {
  padding: 0;
  margin: var(--spacing-200);
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-200);
}

.todoItem * {
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.todoItem input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.customCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 1.25rem;
  --border: 0.07rem;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: hsl(var(--unchecked-checkbox-color));
}

.customCheckbox::before {
  content: "";
  position: absolute;
  top: var(--border);
  left: var(--border);
  width: calc(var(--size) - calc(var(--border) * 2));
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: hsl(var(--todo-bg-color));
}

.todoItem:hover .customCheckbox, .customCheckbox.done {
  background-image: var(--gradient-1);
}

.customCheckbox.done::before {
  display: none;
}

.checkIcon {
  width: 0.7rem;
  padding-left: 0.07rem;
  padding-top: 0.07rem;
}

.crossIcon {
  width: 0.75rem;
  height: 0.75rem;
}

.todoText {
  font-size: 0.75rem;
  color: hsl(var(--text-color));
}

.todoText.done {
  text-decoration: line-through;
  color: hsl(var(--checked-text-color));
}