.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-200);
}

.todoItem * {
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.todoItem input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}



.checkIcon {
  width: 0.7rem;
  padding-left: 0.07rem;
  padding-top: 0.07rem;
}

.crossIcon {
  width: 0.75rem;
  height: 0.75rem;
}

.todoText {
  font-size: 0.75rem;
  color: hsl(var(--text-color));
}

.todoText.done {
  text-decoration: line-through;
  color: hsl(var(--checked-text-color));
}