.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-300);
  padding: var(--spacing-300);
  background-color: hsl(var(--todo-bg-color));
  margin-bottom: 1px;
  touch-action: none;
}

.todoItem * {
  cursor: pointer;
}

.todo {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  flex: 1;
  gap: var(--spacing-300);
}

.todoItem input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkIcon {
  width: 0.7rem;
  padding-left: 0.07rem;
  padding-top: 0.07rem;
}

.crossIcon {
  width: 1.125rem;
  height: 1.125rem;
}

.todoText {
  font-size: 1.125rem;
  color: hsl(var(--text-color));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem 0 0 0;
}

.todoText.done {
  text-decoration: line-through;
  color: hsl(var(--checked-text-color));
}

.todoText.hovered {
  white-space: wrap;
}

@media (max-width: 767px) {
  .todoItem {
    gap: var(--spacing-200);
    padding: var(--spacing-200);
  }

  .todoText {
    font-size: 0.75rem;
  }

  .todo {
    gap: var(--spacing-200);
  }

  .crossIcon {
    width: 0.75rem;
    height: 0.75rem;
  }
}