.themeSwitcher {
  background-color: transparent;
  border: none;
  outline: none;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  padding: 0;
}

.themeSwitcher img {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

@media (max-width: 767px) {
  .themeSwitcher {
    height: 1.25rem;
    width: 1.25rem;
  }
}