/* Background Image */

body {
  background-image: var(--bg-img-mobile);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
}